<div class="bandeau"></div>
<a href="{{site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl}}/images/IGN_log_RVB.jpg"/></a>
<div class="entete">
<span>Spécifications API Géoportail</span>
<ul class="menu-horiz">
        <li><a href="{{site.baseurl}}/services/presentation.html">API Services</a>
                <ul>
                        <li><a href="{{site.baseurl}}/services/presentation.html">Présentation</a></li>
                        <li><a href="{{site.baseurl}}/services/desc-generale.html">Spécifications Générales</a></li>
                        <li><a href="{{site.baseurl}}/services/dd-namespace-decoupage-fonctionnel.html">Spécifications Détaillées</a></li>
                </ul>
        </li>

        <li><a href="#">Extensions</a>
                <ul>
                        <li><a href="{{site.baseurl}}/ol3/presentation.html">Extension OL3</a></li>
                        <li><a href="{{site.baseurl}}/leaflet/presentation.html">Plugin Leaflet</a></li>
                </ul>
        </li>

        <li><a href="{{site.baseurl}}/ahn/presentation.html">API Haut Niveau</a>
                <ul>
                        <li><a href="{{site.baseurl}}/ahn/presentation.html">Présentation</a></li>
                        <li><a href="{{site.baseurl}}/ahn/dg_objectifs.html">Spécifications Générales</a></li>
                        <li><a href="{{site.baseurl}}/ahn/dd_namespace-couverture-fonctionnelle.html">Spécifications Détaillées</a></li>
                </ul>
        </li>
</ul>
</div>
