<div class="menu-left">
<div class="header-menu">{{include.apiTitle}}</div>

    <div class="l1">
      <a href="{{site.baseurl}}/services/presentation.html">API Services</a>
    </div>
    <div class="l1">
      <a href="#">API Cartos</a>
    </div>
    <div class="l2">
      <a href="{{site.baseurl}}/ol3/presentation.html">Géoportail et OL3</a>
    </div>
    <div class="l2">
      <a href="{{site.baseurl}}/leaflet/presentation.html">Géoportail et Leaflet</a>
    </div>
    <div class="l1">
      <a href="{{site.baseurl}}/ahn/presentation.html">API Haut Niveau</a>
    </div>
</div>
